.aboutuswrapper{
    width: 100%;
    font-family: "poppins";
    height: 100vh;
    /* background-color: #e2e2e2; */
    background-color: white;
}
.aboutushold{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: gray; */
}
.aboutustitle{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    font-weight: bold;
    background-color: #3498db;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #000, 3px 3px 0 #000, 5px 5px 0 #000;
    /* background-color: blue; */
}
.ourmission{
    width: 100%;
    height: 80%;
    display: flex;
    background-color: #3498db;
}
.ourmissionimage{
    width: 59%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.imge{
    width: 90%;
    height: 90%;
    /* background-color: white; */
}
.imge img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.missionstatement{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}
.missionstatement p{
    width: 70%;
}

@media screen and (width < 1200px) {
    .aboutuswrapper{
        height: max-content;
    }
    .aboutushold{
        height: max-content;
    }
    .ourmission{
        flex-direction: column;
        height: max-content;
    }
    .ourmissionimage{
        width: 100%;
    }
    .missionstatement{
        width: 100%;
        /* height: 250px; */
    }
    .aboutustitle{
        height: 150px;
    }
}


