.ordermanagmentwrap{
    width: 100%;
    min-height: 100vh;
    background-color: #F5F5F5;
    font-family: "poppins";
    padding: 20px;
    position: relative;
}
.deletefunk{
    width: 97%;
    height: 70%;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ordercancel{
    width: 100%;
    height: 10%;
    /* background-color: red; */
    display: flex;
    padding-left: 10%;
    align-items: center;
    font-size: 20px;
    justify-content: flex-end;
}
.deleteoptiondiv{
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
    /* background-color: yellow; */
}
.orderdelete{
    width: 80%;
    height: 25%;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.orderdelete:hover{
    background-color: red;
}
.orderdelete:active{
    background-color: rgba(61, 8, 8, 0.055);
}
.deleteoptiondiv p{
    color: red;
    font-weight: bold;
}
.orderstatus{
    width: 100%;
    height: 100vh;
    /* display: flex; */
    position: absolute;
    left: 0%;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: white;
    
}
.salessearch{
    width: 20%;
    height: 40%;
    border-radius: 5%;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: absolute;
    top: 23%;
    left: 65%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.salessearch p{
    cursor: pointer;
}
.salessearch p:hover{
    font-weight: bold;
}
.cancelink{
    width: 70%;
    height: 15%;
    /* color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    /* background-color: white; */
}

.orderinputcont{
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    /* padding-right: 20px; */
    gap: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.error{
    color: red;
    font-size: 10px;
}
.orderinputwrap{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: gold; */
    
}
.orderinputwrap div{
    width: 45%;
    height: 90%;
    /* padding-left: 2%; */
    /* background-color: blue; */
}
.orderinputwrap p{
    color: rgb(22, 22, 58);
}
.orderinputwrap input{
    width: 100%;
    height: 60%;
    outline: none;
    border-radius: 3px;
    /* background-color: silver; */
    border: 1px solid black;
    padding-left: 2%;
}
.orderbuttonwrap{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
}
.enterbutton{
    width: 100%;
    height: 60%;
    background-color: blue;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
}
.enterbutton:hover{
    background-color: rgb(42, 42, 245);
}
.enterbutton:active{
    background-color: blue;
}
.ordermanagment{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: white; */
}
.boxes{
    width: 15%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */

}
.boxes2{
    width: 20%;
    height: 80px;
    flex-direction: column;
    justify-content: space-between;
}
.Add{
    width: 60%;
    height: 60%;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: green;
    cursor: pointer;
}
.ioadd{
    font-weight: 25px;
}
.Add:hover{
    background-color: rgb(17, 166, 17);
}
.Add:active{
    background-color: green;
}
.boxes2 div{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    /* background-color: blue; */
}
.pro2{
    width: 40%;
    height: 100%;
    /* background-color: green; */
    border: 1px solid black;
}
.mediawrap{
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
}
.orderwrap{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1E092;
}
.order{
    width: 98%;
    height: 70%;
    display: flex;
    /* background-color: white; */
}
.div8{
    width: 11.1%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    /* border: 1px solid black; */
    /* background-color: yellow; */
}
.div8 p{
    font-size: 12px;
    font-weight: 500;
}
.contentwrap{
    width: 100%;
    min-height: 500px;
    background-color: white;
}
.content{
    width: 100%;
    height: 50px;
    display: flex;
    /* background-color: green; */
}
.div9{
    width: 11.1%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border: 1px solid silver;
}
.div9 p{
    font-size: 12px;
}
.div9 input{
    width: 100%;
    height: 100%;
    padding-left: 2%;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
}
.div10{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#payment{
    width: 95%;
    height: 50%;
    border: 1px solid gray;
    outline: none;
}
#shipment{
    width: 100%;
    height: 55%;
    border-radius: 3px;
    border: 1px solid black;
    outline: none;
    /* background-color: yellow; */
}
#payment{
    width: 100%;
    height: 55%;
    border-radius: 3px;
    border: 1px solid black;
    outline: none;
    /* background-color: yellow; */
}

@media screen and (width < 1300px) {
    .orderinputcont{
        width: 80%;
    }
}

@media screen and (width < 900px) {
    .orderwrap{
        width: 20%;
        height: 80vh;
    }
    .order{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .div8{
        width: 100%;
    }
    .boxes{
        width: 30%;
        /* background-color: yellow; */
    }
    .Add{
        width: 90%;
        height: 80%;
    }
    .contentwrap{
        display: flex;
        /* background-color: yellow; */
    }
    .mediawrap{
        display: flex;
    }
    .content{
        flex-direction: column;
        width: 20%;
        height: 100%;
        /* background-color: red; */
    }
    .div9{
        width: 100%;
    }
    .orderinputcont{
        width: 90%;
        height: 90%;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .orderinputwrap{
        flex-direction: column;
        height: 20%;
        /* background-color: yellow; */
    }
    .orderinputwrap div{
        width: 80%;
        height: 50%;
    }
    #buttunsettle{
        height: 15%;
        width: 100%;
        justify-content: flex-start;
    }
    .orderinputwrap input{
        height: 60%;
    }
    .enterbutton{
        width: 80%;
        height: 50%;
    }
    .cancelink{
        height: 6%;
        width: 100%;
        /* background-color: green; */
    }
}