.saleswrapper{
    width: 100%;
    min-height: 100vh;
    background-color: #F5F5F5;
    font-family: "poppins";
    padding: 20px;
    position: relative;
}
.saleswrapperdiv{
    width: 100%;
    height: 100%;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
}
.editdivxz{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
}

#editsalediv{
    width: 100%;
}
.cancelxx{
    width: 100%;
    height: 7%;
    display: flex;
    padding-right: 5%;
    font-size: 20px;
    align-items: last baseline;
    justify-content: flex-end;
    /* background-color: red; */
}
.deletedecision{
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50%;
    /* background-color: yellow; */
}
.deletedecision p{
    font-size: 20px;
    font-weight: 500;
    color: red;
}
.salesdelete{
    width: 70%;
    height: 30%;
    background-color: blue;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.salesdelete:hover{
    background-color: red;
}
.salesdelete:active{
    background-color: rgba(61, 14, 14, 0.205);
}
.sales{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: yellow; */
}
.addbutton{
    width: 7%;
    height: 50%;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}
.person{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    /* background-color: red; */
}
.divup{
    display: none;
}
.salesinputshow{
    width: 100%;
    height: 100%;
    top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    /* justify-content: center; */
    position: absolute;
    /* position: relative; */
    background-color: white;
}
.itemsearch{
    width: 25%;
    height: 35%;
    overflow-y: scroll;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
    justify-content: flex-start;
    background-color: gray;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: absolute;
    top: 15%;
    right: 15%;
}
.itemsearch p{
    cursor: pointer;
}
.salesinputcancel{
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: yellow; */
}
.salesinputholdwrapper{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    /* background-color: gray; */
}
.salesinputcollection{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* background-color: blue; */
}
.searchbox{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    /* border: 1px solid black; */
}
.searchdiv{
    width: 70%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3%;
    border-radius: 5px;
    border: 1px solid black;
}
.searchdiv input{
    width: 95%;
    height: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 1%;
}
.salesinputcontainerhold{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
}
.holdcontain{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    /* background-color: yellow; */
}
.thesales{
    width: 100%;
    height: 15%;
    display: flex;
    /* background-color: green; */
}
.thesalesinput{
    width: 50%;
    height: 90%;
    /* background-color: gray; */
}
.thesalesinput input{
    width: 90%;
    height: 70%;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    padding-left: 1%;
    outline: none;
}
.salesbuttonholddiv{
    width: 100%;
    height: 15%;
    /* background-color: yellow; */
}
.salesbuttonitself{
    width: 100%;
    height: 80%;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: blue;
}
.salesbuttonitself:hover{
    background-color: rgb(55, 55, 249);
}
.salesbuttonitself:active{
    background-color: rgb(0, 0, 246);
}
.sellingitemscollection{
    width: 20%;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* background-color: pink; */
}
.itemnameholdxx{
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
}
.itemnameholdxx div{
    width: 100%;
    height: 7%;
    display: flex;
    padding-left: 5%;
    align-items: center;
    gap: 2%;
    /* background-color: blue; */
}
.itemnameholdxx p{
    font-size: 15px;
    font-weight: 500;
}

.per{
    justify-content: center;
    font-size: 20px;
}
.namex{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    /* border: 1px solid black; */
    /* background-color: #55CFF5; */
    /* border: 1px solid black; */
}
.naira{
    font-size: 25px;
}
.mainxp{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
}
.title{
    width: 100%;
    height: 50px;
    margin-top: 15px;
    display: flex;
    background-color: #F1E092;
}
.headers{
    width: 11.1%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headers p{
    color: darkblue;
    font-size: 15px;
    font-weight: bolder;
}
.items{
    width: 100%;
    height: max-content;
    /* background-color: blue; */
}
.itema{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: white;
}
.itemb{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #85B6FF;
}
.real{
    width: 11.1%;
    height: 100%;
    /* background-color: green; */
}
.real2{
    display: flex;
    border: 1px solid silver;
}
.real input{
    width: 100%;
    height: 100%;
    border: 1px solid silver;
    background-color: transparent;
    padding-left: 1%;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}
.real2 div{
    width: 50%;
    height: 100%;
    display: flex;
    /* font-size: 15px; */
    align-items: center;
    justify-content: center;
}
.check{
    font-size: 20px;
    cursor: pointer;
}
.check:active{
    color: blue;
}

.confirm{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 10px;
    /* background-color: yellow; */
}
.confirm div{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    font-size: 30px;
}
.check2:hover{
    cursor: pointer;
    color: green;
}
.receipt{
    cursor: pointer;
}
.receipt:hover{
    color: #fccf05;
}
.delete{
    font-size: 20px;
    cursor: pointer;
}
.delete:hover{
    color: red;
}

@media screen and (min-width = 1500px) {
    .addbutton{
        font-size: 20px;
        width: 30px;
        padding: 10px;
        padding: 10px;
        /* background-color: yellow; */
    }
    .person{
        width: max-content;
        /* height: ; */
    }
    .sales{
        height: 100px;
    }
    .title{
        height: 100px;
    }
    .headers p{
        font-size: 20px;
        font-weight: bold;
    }
    .itema{
        height: 100px;
    }
    .itemb{
        height: 100px;
    }
    .namex p{
        font-size: 20px;
    }
    .person h5{
        font-size: 20px;
    }
}

@media screen and (width < 1000px) {
    .addbutton{
        font-size: 12px;
        width: max-content;
        padding: 10px;
    }
    .person{
        width: max-content;
        /* font-size: 12px; */
    }
    .headers p{
        font-size: 10px;
        font-weight: 500;
    }
    .salesinputcollection{
        width: 100%;
    }
}

@media screen and (width < 900px) {
    .purchaseadd{
        top: 5%;
        width: 100%;
        /* background-color: red; */
    }
    .purchaseinputwrap{
        width: 100%;
        /* background-color: #85B6FF; */
    }
    
    #got{
        display: none;
    }
    /* .purchasedadd{
        width: 100%;
    } */
    .saleswrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .sales{
        max-width: 100vh;
        /* background-color: yellow; */
    }
    #vaat{
        height: 12%;
    }
    .namex{
        border: 1px solid silver;
        background-color: transparent;
    }
    .adhd{
        display: flex;
    }
    .real{
        height: 50px;
    }
    .headers{
        width: 100%;
        height: 80px;
    }
    .headers p{
        font-size: 10px;
        font-weight: bold;
    }
    .real{
        width: 100%;
        height: 80px;
    }
    .itemb{
        flex-direction: column;
        width: 70px;
        height: max-content;
    }
    .salesinputcancel{
        height: 35px;
        /* background-color: palevioletred; */
    }
    .selesbuttondiv{
        align-items: center;
        justify-content: center;
    }
    .addmore{
        width: 75%;
    }
    .salesinputcollection{
        /* background-color: red; */
        box-shadow: none;
    }
    #void{
        display: none;
    }
    #voidpatnes{
        height: 35%;
    }
    .salesinputholdwrapper{
        height: 90%;
        /* background-color: yellow; */
        /* height: ; */
        box-shadow: none;
    }
    .salesinputhold{
        /* height: 80%; */
        flex-direction: column;
        height: 40%;
        /* background-color: green; */
        align-items: center;
    }
    .salesinputhold div{
        width: 70%;
        height: 100%;
    }
    .salesinputhold input{
        height: 100%;
    }
    .salesinputshow{
        top: 0%;
        /* position: absolute; */
    }
    .mainxp{
        display: flex;
    }
    .title{
        flex-direction: column;
        height: 80vh;
        width: 20%;
    }
    .items{
        display: flex;
        height: 80vh;
        width: max-content;
        /* background-color: yellow; */
    }
    .itema{
        /* display: flex; */
        flex-direction: column;
        height: 100%;
        width: 30%;
    }
}

@media screen and (width < 550px) {
    .sales{
        height: 50px;
    }
    .purchaseinput{
        width: 100%;
        /* background-color: yellow; */
    }
    .purchaseinput p{
        font-size: 15px;
    }
    .person{
        display: none;
    }
    .addbutton{
        font-size: 12px;
        width: 30%;
        height: 70%;
    }
    .itemsearch{
        width: 40%;
        gap: 15px;
        top: 13%;
        border-radius: 2px;
    }
    .headers{
        height: 12.5%;

    }
    .headers p{
        font-size: 10px;
        font-weight: 500;
    }
    .title{
        height: 80vh;
        display: flex;
        align-items: center;
        /* background-color: yellow; */
    }
    .adhd{
        display: flex;
    }
    .delete{
        font-size: 15px;
    }
    .check{
        font-size: 15px;
    }
    .real{
        height: 50px;
    }
    .confirm {
        width: 50px;
        height: 100%;
        font-size: 100px;
        background-color: green;
    }
    .salesinputshow{
        top: -3%;
    }
    .title{
        height: 50vh;
    }
}
