.headerwrap{
    width: 100%;
    height: 70px;
    display: flex;
    font-family: "poppins";
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid silver;
    position: relative;
    background-color: white;
}
.header{
    width: 97%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
}
.menudrop{
    width: 25%;
    height: 300px;
    background-color: black;
    color: white;
    position: absolute;
    position: fixed;
    left: 74%;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    top: 5%;
}
.loggo{
    width: 15%;
    height: 100%;
    display: flex;
    padding-left: 2%;
    background-color: white;
}
.loggoinf{
    width: 30%;
    height: 100%;
    /* background-color: yellow; */
}
.loggoinf img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.loggowrite{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 2%;
    /* line-height: 0px; */
    /* background-color: green; */
}
.loggowrite h1{
    color: rgba(0, 152, 225, 1);
    font-size: 30px;
    height: 50%;
    /* padding: 0px; */
    /* background-color: green; */
}
.loggowrite p{
    color: rgba(226, 185, 2, 1);
    /* background-color: red; */
}
.iomenu{
    display: none;
}
.navic{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellow; */
}
.navic p{
    width: max-content;
    height: 50%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}
.navic p:hover{
    box-shadow: 0 0 10px #007bff, 0 0 20px #007bff, 0 0 30px #007bff;
}
.notificationcontent{
    width: 30%;
    height: 500%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2%;
    right: 0;
    overflow-y: scroll;
    top: 70%;
    padding: 1%;
    border-radius: 10px;
}
.notidate{
    width: 100%;
    height: 40%;
    padding: 2%;
    border: 1px solid rgba(0, 0, 0, 0.377);
    display: flex;
    border-radius: 10px;
    background-color: white;
}
.date{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: white;
}
.mmmmessage{
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding-left: 4%;
    /* font-size: 10px; */
    /* scrollbar-face-color: red; */
    /* background-color: green; */
}
#messagepp{
    font-size: 12px;
}
.messagedel{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    /* background-color: green; */
}

.notifyme{
    width: 20%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* background-color: red; */
}

@media screen and (width < 800px ){
    .navic{
        display: none;
    }
    .iomenu{
        display: flex;
        font-size: 30px;
    }
    .header{
        justify-content: space-between;
    }
    .loggo{
        width: 30%;
    }
}

@media screen and (width < 550px) {
    .loggoinf{
        width: 20%;
        /* height: 20%; */
        /* background-color: red; */
    }
    .menudrop{
        font-size: 13px;
    }
    .loggowrite{
        width: 60%;
        height: 100%;
        /* align-items: center; */
        gap: 0%;
        /* background-color: yellow; */
    }
    .loggowrite h1{
        font-size: 15px;
        height: 30%;
        /* background-color: blue; */
    }
    .loggowrite p{
        font-size: 12px;
        /* background-color: yellow; */
    }
    .loggo{
        width: 40%;
        /* background-color: aqua; */
    }
}
@media screen and (width < 370px) {
    .loggo{
        width: 40%;
    }
    .loggowrite h1{
        font-size: 10px;
        height: 20%;
        /* background-color: yellow; */
    }
    .loggowrite p{
        font-size: 10px;
        /* background-color: red; */
    }
}
@media screen and (width < 300px) {
    .loggo{
        width: 45%;
    }
}