.Bg{
    width: 100%;
    height: 100vh;
    font-family: "poppins";
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputContain{
    width: 30%;
    height: 60%;
    background-color: white;
    /* border: 1px solid #8C8C8C; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 8px 8px 0px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.imgContain{
    width: 40%;
    height: 30%;
    display: flex;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.InnerInputContain{
    width: 50%;
    height: 55%;
    /* background-color: yellow; */
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.InnerInputContain h2{
    font-size: 20px;
}
.InnerInputContain h4{
    font-size: 12px;
    font-weight: 500;
}
.InnerInputContain input{
    width: 100%;
    height:40px;
    border: 1px solid #DCCCFC;
    border-radius: 3px;
    padding: 5px;
    outline: none;
}
.btn{
    width: 100%;
    height: 40px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
.btn:hover{
    background-color: rgb(60, 60, 245);
}
.btn:active{
    background-color: blue;
}

@media screen and (width < 1500px) {
    .inputContain{
        width: 50%;
    }
}

@media screen and (width < 1000px) {
    .inputContain{
        width: 70%;
    }
}