.Contain{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "poppins";
  }
  .Words{
    width: 82%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 10px;
    /* background-color: yellow; */
  }
  .Words h3{
    font-size: 20px;
  }
  .Words h5{
    font-size: 10px;
    font-weight: normal;
  }
  
 .text{
    width: 92%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: yellow; */
 }
 .text h6{
    font-size: 10px;
    font-weight: normal;
 }
  
  .rightLog{
    width: 30%;
    height: 70%;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    /* border: 1px solid #8C8C8C ; */
  }
 
  
  .forInputLog{
    width: 80%;
    height: 75px ;
    /* background-color: purple; */
    display: flex;
    gap: 3px;
    flex-direction: column;
  }
  .forInputLog input{
    width: 90%;
    height: 60%;
    border: 1px solid #DCCCFC;
    border-radius: 3px;
    outline: none;
    padding-left: 1%;
  }
  .log2x{
    height: 100px;
    /* background-color: yellow; */
  }
  .cLog{
    color: blue;
    width: 92%;
    height: 20%;
    display: flex;
    justify-content:flex-end ;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    /* background-color: yellow; */
  }

  #passdiv{
    width: 90%;
    height: 45%;
    border: 1px solid #DCCCFC;
    border-radius: 3px;
    outline: none;
    /* padding-left: 1%; */
    /* background-color: green; */
  }
  #passdiv input{
    width: 90%;
    height: 100%;
    background-color: transparent;
    border: none;
  }

  a{
     font-size: 7px;
     color: blue;
     width: 300px;
     height: 10px;
     display: flex;
     justify-content: flex-end;
     cursor: pointer;
  }
  
  .forButtonLog{
    width: 82%;
    height: 65px;
    display: flex;
    font-size: 10px;
    gap: 10px;
    /* background-color: yellow; */
    flex-direction: column;
  }
  .forButtonLog button{
    width: 92%;
    height: 60%;
    border: none;
    border-radius: 3px;
    background-color: blue;
    color: white;
    cursor: pointer;
  }
  .forButtonLog button:hover{
    background-color: rgb(87, 87, 242);
  }
  .forButtonLog button:active{
    background-color: blue;
  }

  .Tx2{
    color: blue;
    cursor: pointer;
  }


  
  
  

  @media screen and (width > 1500px ) {
    .rightLog{
        width: 70%;
    }
    .Words h3{
      font-size: 30px;
    }
    .Words h5{
      font-size: 25px;
    }
    .forInputLog{
      height: 15%;
      margin-top: 2%;
    }
    .forInputLog input{
      font-size: 30px;
    }
    .forInputLog p{
      font-size: 25px;
    }
    #a2xlog{
      height: 20%;
    }
    .cLog{
      font-size: 20px;
    }
    .forButtonLog{
      height: 15%;
    }
    .text{
      width: 100%;
    }
    .text h6{
      font-size: 17px;
    }
    .text span{
      font-size: 20px;
    }
    .eyes{
      font-size: 30px;
    }
    .text{
      width: 100%;
      height: 0%;
      background-color: green;
    }
  }

  @media screen and (width < 800px){
    .text h6{
      font-size: 15px;
    }
  }
  @media screen and (width < 600px) {
    .rightLog{
      width: 90%;
    }
    .Words h5{
      font-size: 15px;
    }
    .eyes{
      font-size: 20px;
    }
    .Contain{
      background-color: #efecff;
    }
    .text{
      width: 100%;
      height: 0%;
      background-color: green;
    }
    #butt
    /* .clog{
      font-size: 8px;
    } */
    .text h6{
      font-size: 10px;
    }
    .text span{
      font-size: 15px;
    }
  }
  @media screen and (width < 400px) {
    .rightLog{
      width: 100%;
      box-shadow: none;
    }
    .Contain{
      background-color: #DCCCFC;
    }
    .Words h5{
      font-size: 12px;
    }
    .forInputLog p{
      font-size: 12px;
    }
    .eyes{
      font-size: 12px;
    }
    .cLog{
      font-size: 12px;
    }
    .text h6{
      font-size: 8px;
      font-weight: 500;
    }
    .text span{
      font-size: 10px;
    }
  }
 
  /* @media screen and (width < 700px) {
   
    .Contain {
      width: 100%;
    }
    .rightLog{
      width:70%;
      height: 50%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }
    .Words{
      width: 100%;

      font-size: 6px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
   
    h5{
      font-size: 5px;
    }
  } */

  /* @media screen and (width < 450px){
    .rightLog{
        width: 90%;
        height: 70%;
        gap: 20px;
        border-radius: 5px;
        box-shadow: none;
    }
    .Words{
      height: 20%;
    }
    .Words h3{
      font-size: 20px;
    }
    .Words h5{
      font-size: 13px;
    }
    .Contain{
      background-color: #efecff;
    }
    #a2xlog{
      height: 25%;
      background-color: blue;
    }
    .cLog{
      height: 100px;
      display: flex;
      align-items: center;
      font-size: 13px;
      background-color: red;
    }
    .text{
      font-size: 20px;
    }
    .forInputLog{
      height: 30%;
    }
    #passdiv{
      height: 100px;
      background-color: yellow;
    }
  } */