.resetpasswordwrapper{
    width: 100%;
    height: 100vh;
    font-family: "poppins";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.resetpassworddiv{
    width: 45%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.kind{
    width: 100%;
    height: 15%;
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
}
.resetpinput{
    width: 60%;
    height: 15%;
    /* background-color: yellow; */
}
.passdivr{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid black;

    background-color: white;
}
.passdivr input{
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    padding-left: 2%;
}

.comfirmbuttdiv{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}
.comfirmbuttdiv button{
    width: 60%;
    height: 50%;
    border: none;
    background-color: blue;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
}
.comfirmbuttdiv button:hover{
    background-color: rgb(70, 70, 240);
}
.comfirmbuttdiv button:active{
    background-color: blue;
}
@media screen and (width < 1000px) {
    .resetpassworddiv{
        width: 65%;
        gap: 2%;
    }
    .resetpinput{
        width: 80%;
    }
    .comfirmbuttdiv button{
        width: 80%;
    }
}
@media screen and (width < 700px) {
    .resetpassworddiv{
        width: 85%;
    }
    .resetpinput{
        width: 95%;
    }
    .comfirmbuttdiv button{
        width: 95%;
    }
}
@media screen and (width < 550px) {
    .kind {
        font-size: 10px;
        font-weight: 500;
    }
}