.SignUpContain{
    width: 100%;
    height: 100vh;
    /* padding: 30px; */
    /* background-color: aqua; */
    font-family: "poppins";
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .left{
    width: 50%;
    height: 100%;
    background: linear-gradient(blue,purple);
  } */
  
  .rightdivsign{
    width: 40%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* background-color:green; */
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: 1px solid #8C8C8C ; */
  }
  .containForInput2{
    width: 80%;
    height: 100%;
    gap: 10px;
    /* background-color: aqua; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
  }
  .errorx{
    height: 2%;
    font-size: 10px;
    color: blue;
  }
  .pass{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    justify-content: space-between;
    border-radius: 3px;
    /* background-color: yellow; */
  }
  #passwordwr{
    width: 90%;
    height: 100%;
    border: none;
    background-color: transparent;
  }
  
  .forInput{
    width: 70%;
    height: 16%;
    /* background-color: purple; */
    display: flex;
    gap: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  #reduce{
    height: 12%;
  }
  .forInput input{
    width: 100%;
    height: 80%;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
    padding-left: 1%;
    /* background-color: yellow; */
  }
  .forInput p{
    font-size: 15px;
  }
 .Tx{
  color: blue;
  cursor: pointer;
 }
  
  .forButton{
    width: 70%;
    height: 65px;
    display: flex;
    /* background-color: brown; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 10px;
    gap: 10px;
    flex-direction: column;
  }
  .forButton button{
    width: 100%;
    height: 80%;
    border: none;
    border-radius: 3px;
    background-color: blue;
    color: white;
    cursor: pointer;
  }
  .forButton button:hover{
    background-color: rgb(58, 58, 247);
  }
  .forButton button:active{
    background-color:  blue;
  }
  .words{
    width: 100%;
    height: 5%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }

  @media screen and (width < 1500px) {
    .right{
        width: 50%;
        height: 80%;
    }
    .rightdivsign{
      /* background-color: blue; */
      width: 50%;
    }
    .containForInput2{
      width: 90%;
      /* background-color: green; */
    }
    /* .words{
      background-color: purple;
    } */
    .forInput{
        height: 20%;
        /* background-color: yellow; */
    }
    .forInput input{
        height: 70px;
    }
    .forButton{
        height: 12%;
        /* background-color: yellow; */
    }
    .forButton button{
        height: 90%;
        font-size: 12px;
    }
    .forButton h6{
        font-size: 12px;
    }
  }

  @media screen and (width < 1000px) {
   
    .contain {
      width: 100%;
    }
    .right{
      width: 75%;
      /* background-color: yellow; */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
    }
    .words{
      width: 100%;
      font-size: 6px;
      /* background-color:red; */
      display: flex;
      align-items: center;
    
    }
    .containForInput2{
      /* background-color: pink; */
      gap: 0px;
    }
    .words h3{
        font-size: 10px;
    }
    .forInput{
        height: 15%;
        /* background-color: green; */
    }
    .forInput label{
        font-size: 15px;
    }
    .forInput input{
        height: 55%;
    }
    .forButton button{
        height: 70px;
    }
    .forButton h6{
        font-size: 14px;
    }
  }
  @media screen and (width < 850px){
    .rightdivsign{
      width: 80%;
    }
    .right{
        width: 80%;
        /* box-shadow: ; */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
    .forInput label{
        font-size: 15px;
    }
    .forButton button{
      height: 30px;
    }
    .forButton h6{
        font-size: 10px;
    }
  }
  @media screen and (width < 550px) {
    .pass{
      height: 45px;
    }
    .forInput{
      width: 100%;
    }
    .forButton {
      width: 100%;
    }
    .forButton button{
      height: 80%;
    }
  }
  @media screen and (width < 450px) {
    .SignUpContain{
      background-color: #efecff;
    }
    .words h3{
      font-size: 20px;
    }
    .containForInput2{
      width: 100%;
      height: 80%;
      padding: 0px;
      gap: 2px;
      /* background-color: yellow; */
    }
    .rightdivsign{
      padding: 0px;
      box-shadow: none;
    }
    .pass{
      height: 55%;
      background-color: white;
    }
    .forButton button{
      height: 70%;
      font-size: 20px;
    }
    .forButton h6{
      font-size: 15px;
    }
    .forButton span{
      font-size: 20px;
    }
  }