.productmanagmentwrap{
    width: 100%;
    /* height: max-content; */
    min-height: 100vh;
    background-color: #F5F5F5;
    font-family: "poppins";
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.productmanagementwrapdiv{
    width: 90%;
    min-height: 90vh;
    background-color: white;
}
.productmanage{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: green; */
}
.productmanage h3{
    font-size: 15px;
}
#productmtitle{
    width: 100%;
    height: 70px;
    display: flex;
    background-color: #fccf05;
}
.hell{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}
.hell p{
    font-size: 12px;
    font-weight: 500;
}
.spacexx{
    width: 25%;
    height: 100%;
    /* background-color: red; */
}
.eleven{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow-y: scroll; */
    border: 1px solid silver;
}
.eleventt{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.delete2{
    font-size: 25px;
    cursor: pointer;
}
.delete2:hover{
    color: rgb(246, 100, 100);
}
.edit{
    font-size: 25px;
    cursor: pointer;
}
.edit:hover{
    color: rgb(179, 154, 12);
}
.additems{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* background-color: green; */
    backdrop-filter: blur(10px);
    /* background-color: yellow; */
}
.remove{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: white; */
}
.remove div{
    width: 40px;
    height: 40px;
    /* background-color: red; */
    color: red;
    cursor: pointer;
    border-radius: 50%;
}
.allproductdetailswrap{
    width: 100%;
    height: 85%;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    /* background-color: green; */
}
.allproductdetails{
    width: 60%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 3%; */
    /* padding-top: 3%; */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
    background-color: white;
    /* background-color: yellow; */
}

#errorm{
    color: red;
    font-size: 10px;
}
.svg{
    width: 100%;
    height: 15%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
}
.svg div{
    width: 40%;
    height: 100%;
    /* background-color: green; */
}
.svg p{
    color: rgb(22, 22, 58);
}
.svgbutt{
    /* width: 100%; */
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.ttt{
    width: 100%;
    height: 50%;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
    padding-left: 2px;
}
.adding{
    width: 100%;
    height: 60%;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: blue;
    border: none;
}
.adding:hover{
    background-color: rgb(57, 57, 241);
}
.adding:active{
    background-color: blue;
}
.addinginfo{
    width: 20%;
    height: 90%;
     border-radius: 3px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.addinginfotitle{
    width: 100%;
    height: 10%;
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    color: blue;
    justify-content: space-between;
    font-size: 15px;
    /* background-color: red; */
}
.addinginfoitemswrap{
    width: 100%;
    height: 10%;
}
.addinginfoitems{
    width: 100%;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    /* background-color: red; */
}
.kjv{
    width: 10%;
    height: 40%;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.kjv h3{
    font-size: 10px;
}
.cate{
    width: 40%;
    height: 100%;
    display: flex;
    /* background-color: white; */
}
.tpro{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: yellow; */
}
.tpro span{
    font-size: 12px;
}
/* .mainx{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: red;
} */
.tpro div{
    width: 50%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

@media screen and (width < 1300px){
    .productmanagementwrapdiv{
        width: 100%;
        /* background-color: yellow; */
    }
    .spacexx{
        display: none;
    }
    .productmanage{
        justify-content: space-around;
    }
    .allproductdetails{
        width: 90%;
    }
    #buttsvg{
        width: 100%;
        /* background-color: red; */
    }
    .adding{
        width: 90%;
    }
}
@media screen and (width < 900px) {
    #xrtmain{
        display: flex;
        /* background-color: yellow; */
    }
    #productmtitle{
        flex-direction: column;
        width: 20%;
        height: 85vh;
        /* background-color: gray; */
    }
    .hell{
        width: 100%;
        height: 10%;
    }
    .items{
        width: 80%;
        height: 85vh;
        overflow-x: auto;
        /* background-color: green; */
    }
    .itema{
        width: 100px;
        height: 100%;
        /* background-color: green; */
    }
    .eleven{
        width: 100%;
    }
    .hell p{
        font-size: 15px;
        font-weight: 600;
    }
    /* .additems{
        background-color: yellow;
    } */
    .allproductdetailswrap{
        height: max-content;
        /* background-color: yellow; */
        padding-top: 30px;
    }
    .allproductdetails{
        height: max-content;
        /* background-color: aqua; */
        box-shadow: none;
        padding-top: 20px;
        /* gap: 10px; */
    }
    .svg{
        height: 200px;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: red; */
        /* padding-top: 30px; */
    }
    .svg div{
        width: 60%;
        height: 50%;
        /* background-color: green; */
    }
    .ttt{
        height: 60%;
    }
    #nondivbutt{
        height: 130px;
        /* background-color: #fccf05; */
    }
    .adding{
        width: 60%;
        height: 90%;
    }
    #notneed{
        display: none;
        /* background-color: red; */
    }
    #changepath{
        /* background-color: blue; */
        height: 80px;
    }
    /* #buttsvg{
        height: 100%;
        background-color: yellow;
    } */
    #changepath div{
        height: 100%;
        /* background-color: yellow; */
    }
    .kjv{
        width: 20%;
        height: 50%;
    }
    /* .changeid{
        height: ;
    } */
}
@media screen and (width < 550px) {
    .cate{
        display: none;
    }
    .kjv{
        width: 25%;
        height: 35px;
    }
    #productmtitle{
        width: 25%;
    }
}

@media screen and (width < 450px) {
    #productmtitle{
        width: 30%;
    }
    .hell p{
        font-size: 12px;
    }
    .allproductdetails{
        /* background-color: yellow; */
        justify-content: center;
        align-items: center;
        padding-top: 8%;
    }
}