.saleswrapper{
    width: 100%;
    min-height: 100vh;
    background-color: #F5F5F5;
    font-family: "poppins";
    padding: 20px;
}
.saleswrapperdiv{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
}
.sales{
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: yellow; */
}
.addbutton{
    width: 10%;
    height: 50%;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
}
.person{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.divup{
    display: none;
}
/* .mainxp{
    position: relative;
} */
.salesinputshow{
    width: 100%;
    height: 100vh;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    position: absolute;
    position: relative;
    background-color: white;
}
.itemsearch{
    width: 25%;
    height: 50%;
    background-color: red;
    position: absolute;
    top: 15%;
    right: 15%;
}
.salesinputcancel{
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: yellow; */
}
.salesinputholdwrapper{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    /* background-color: gray; */
}
.salesinputcollection{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* background-color: blue; */
}
.searchbox{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    /* border: 1px solid black; */
}
.searchdiv{
    width: 70%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3%;
    border-radius: 5px;
    border: 1px solid black;
}
.searchdiv input{
    width: 95%;
    height: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 1%;
}
.salesinputhold{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    /* background-color: #fccf05; */
}
.salesinputhold div{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: green; */
}
.salesinputhold input{
    width: 100%;
    height: 50%;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 1%;
    outline: none;
}
.selesbuttondiv{
    width: 100%;
    height: 20%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellow; */
}
.addmore{
    width: 40%;
    height: 40%;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.addmore:hover{
    background-color: rgb(64, 64, 244);
}
.addmore:active{
    background-color: blue;
}
.sellingitemscollection{
    width: 20%;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* background-color: pink; */
}
.itemnameholdxx{
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
}
.itemnameholdxx div{
    width: 100%;
    height: 7%;
    display: flex;
    padding-left: 5%;
    align-items: center;
    gap: 2%;
    /* background-color: blue; */
}
.itemnameholdxx p{
    font-size: 15px;
    font-weight: 500;
}

.per{
    justify-content: center;
}
.namex{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    /* background-color: #55CFF5; */
    border: 1px solid black;
}
.naira{
    font-size: 25px;
}
.title{
    width: 100%;
    height: 50px;
    margin-top: 15px;
    display: flex;
    background-color: #F1E092;
}
.headers{
    width: 11.1%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.items{
    width: 100%;
    height: max-content;
    /* background-color: blue; */
}
.itema{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: white;
}
.itemb{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #85B6FF;
}
.real{
    width: 11.1%;
    height: 100%;
    /* background-color: green; */
}
.real2{
    display: flex;
    border: 1px solid silver;
}
.real input{
    width: 100%;
    height: 100%;
    border: 1px solid silver;
    background-color: transparent;
    padding-left: 1%;
    font-size: 20px;
}
.real2 div{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.check{
    font-size: 30px;
    cursor: pointer;
}
.check:active{
    color: blue;
}

.confirm{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 10px;
    /* background-color: yellow; */
}
.confirm div{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    font-size: 30px;
}
.check2:hover{
    cursor: pointer;
    color: green;
}
.receipt{
    cursor: pointer;
}
.receipt:hover{
    color: #fccf05;
}
.delete{
    font-size: 30px;
}
.delete:hover{
    color: red;
}

@media screen and (min-width = 1500px) {
    .addbutton{
        font-size: 20px;
        width: 30px;
        padding: 10px;
        padding: 10px;
        /* background-color: yellow; */
    }
    .person{
        width: max-content;
        /* height: ; */
    }
    .sales{
        height: 100px;
    }
    .title{
        height: 100px;
    }
    .headers p{
        font-size: 20px;
        font-weight: bold;
    }
    .itema{
        height: 100px;
    }
    .itemb{
        height: 100px;
    }
    .namex p{
        font-size: 20px;
    }
    .person h5{
        font-size: 20px;
    }
}

@media screen and (width < 1000px) {
    .addbutton{
        font-size: 12px;
        width: max-content;
        padding: 10px;
    }
    .person{
        width: max-content;
        /* font-size: 12px; */
    }
    .headers p{
        font-size: 10px;
        font-weight: 500;
    }
    .salesinputcollection{
        width: 100%;
    }
}

@media screen and (width < 900px) {
    #got{
        display: none;
    }
    .saleswrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .sales{
        max-width: 100vh;
        /* background-color: yellow; */
    }
    .namex{
        border: 1px solid silver;
        background-color: transparent;
    }
    .adhd{
        display: flex;
    }
    .real{
        height: 50px;
    }
    .headers{
        width: 100%;
        height: 80px;
    }
    .headers p{
        font-size: 10px;
        font-weight: bold;
    }
    .real{
        width: 100%;
        height: 80px;
    }
    .itemb{
        flex-direction: column;
        width: 70px;
        height: max-content;
    }
    .salesinputcancel{
        height: 35px;
        /* background-color: palevioletred; */
    }
    .selesbuttondiv{
        align-items: center;
        justify-content: center;
    }
    .addmore{
        width: 75%;
    }
    .salesinputcollection{
        /* background-color: red; */
        box-shadow: none;
    }
    #void{
        display: none;
    }
    #voidpatnes{
        height: 35%;
    }
    .salesinputholdwrapper{
        height: 90%;
        /* background-color: yellow; */
        /* height: ; */
        box-shadow: none;
    }
    .salesinputhold{
        /* height: 80%; */
        flex-direction: column;
        height: 40%;
        /* background-color: green; */
        align-items: center;
    }
    .salesinputhold div{
        width: 70%;
        height: 100%;
    }
    .salesinputhold input{
        height: 100%;
    }
    .salesinputshow{
        top: 0%;
    }
/* }
@media screen and (width < 650px) { */
    .mainxp{
        display: flex;
    }
    .title{
        flex-direction: column;
        height: 80vh;
        width: 20%;
    }
    .items{
        display: flex;
        /* flex-direction: column; */
        height: 80vh;
        width: max-content;
        /* background-color: yellow; */
    }
    .itema{
        /* display: flex; */
        flex-direction: column;
        height: 100%;
        width: 30%;
    }
}

@media screen and (width < 550px) {
    .sales{
        height: 50px;
    }
    .person{
        display: none;
    }
    .addbutton{
        font-size: 12px;
        width: 30%;
        height: 70%;
    }
    .headers{
        height: 12.5%;

    }
    .headers p{
        font-size: 10px;
        font-weight: 500;
    }
    .title{
        height: 80vh;
        display: flex;
        align-items: center;
        /* background-color: yellow; */
    }
    .adhd{
        display: flex;
    }
    .delete{
        font-size: 15px;
    }
    .check{
        font-size: 15px;
    }
    .real{
        height: 50px;
    }
    .confirm {
        width: 50px;
        height: 100%;
        font-size: 100px;
        background-color: green;
    }
    .salesinputshow{
        top: -3%;
    }
    .title{
        height: 50vh;
    }
}
